<div class="ui grid container">
    <div class="sixteen wide column">
<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form clearing segment">
  <h3 class="ui header">Login</h3>
  <div class="field">
    <label for="username">Gebruikersnaam:</label>
    <input type="text" id="username" formControlName='username'>
  </div>
  <div class="field">
    <label for="password">Wachtwoord:</label>
    <input type="password" id="password" formControlName='password'>
  </div>
  <button type='submit' [disabled]='!user.valid' class="ui positive right floated button">Log in</button>
  <a class="ui right floated button"  routerLink="/register" >Registreer</a>
  <div *ngIf='errorMsg' class='ui red label'>{{errorMsg}}</div>
</form>
</div>
</div>